In [1]:
#1. Write a Python Program to accept the details of a student like name, roll number and mark and display it.

In [2]:
name=input("Enter your name : ")
roll_no=int(input("Enter the roll number :"))
mark=int(input("Enter the mark:"))
print("\nName : ",name,"\nRoll No :",roll_no,"\nMark : ",mark)

Enter your name : abhiram
Enter the roll number :21
Enter the mark:75

Name :  abhiram
Roll No : 21
Mark :  75

In [3]:
#2.Write a Python program to convert temperatures to and from Celsius
#Fahrenheit. [Formula: c/5=f-32/9 where c=temperature in Celsius and f=
#temperature in Fahrenheit.]

In [1]:
f=int(input("Temperature in farenheit :"))
c=(f-32)*5/9
print("Temperature in celsius :",c)
c=int(input("Temperature in celsius :"))
f=(c*9/5)+32
print("Temperature in farenheit :",f)

Temperature in farenheit :50
Temperature in celsius : 10.0
Temperature in celsius :10
Temperature in farenheit : 50.0

In [5]:
# 3.Write a Python program to accept two numbers from the user and display
#its product.

In [7]:
number_1=int(input("Enter the first number:"))
number_2=int(input("Enter the second number:"))
print("Product of the given numbers :",number_1*number_2)

Enter the first number:5
Enter the second number:4
Product of the given numbers : 20

In [8]:
#4. Write a Python program to accept a string “Learn Python by Developing a
#Website” and display the string like “Learn**Python** by Developing a **Website**”

In [12]:
str1=input("Enter the string : ")
s_str=str1.split()
s_str[1]="**"+s_str[1]+"**"
s_str[5]="**"+s_str[5]+"**"
str1=" ".join(s_str)
print(str1)

Enter the string : Learn Python by Developing a Website
Learn **Python** by Developing a **Website**

In [ ]:
#5. Write a Python program to accept the radius of a circle and display its area.

In [11]:
import math

rad=int(input("Enter radius of circle:"))
area=math.pi*(rad**2)
print("Area of circle: ", area)

Enter radius of circle:3
Area of circle:  28.274333882308138

In [13]:
#6. Python program to insert a number to any position in a list (Get the number to
#be inserted and position from the user)

In [20]:
list1=[1,4,5,77,12,63]
print("This is the given list :",list1)
pos=int(input("Position to insert number :"))
num=int(input("Number to insert :"))
list1.insert(pos-1, num)
print("updated list :",list1)

This is the given list : [1, 4, 5, 77, 12, 63]
Position to insert number :4
Number to insert :88
updated list : [1, 4, 5, 88, 77, 12, 63]

In [ ]:
#7. Write a program to rename a key city to a location in the following dictionary.
#sample_dict = { "name": "John", "age":5, "salary": 8000, "city": "New York"}

In [14]:
sample_dict = { "name": "John", "age":5, "salary": 8000, "city": "New York"}
sample_dict['location'] = sample_dict.pop('city')
print(sample_dict)

{'name': 'John', 'age': 5, 'salary': 8000, 'location': 'New York'}

In [ ]:
#8. Write a Python program to change Brad’s salary to 8500 in the following
#dictionary.

In [15]:
sample_dict = {
    'emp1': {'name': 'John', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 500}
}
sample_dict['emp3']['salary']=8500
print(sample_dict)

{'emp1': {'name': 'John', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

In [ ]:
#9.Write a program to copy elements 43 and 54 from the following tuple into a
# new tuple. Given: tuple1 = (10, 20, 43, 54, 56, 68)

In [17]:
tuple1 = (10, 20, 43, 54, 56, 68)
tuple2=tuple1[2:4]
print(tuple2)

(43, 54)

In [ ]:
#10. Counts the number of occurrences of item 50 from a tuple
#tuple1 = (50, 10, 60, 70, 50,83,567,50,81)

In [18]:
tuple1 = (50, 10, 60, 70, 50,83,567,50,81)
n=tuple1.count(50)
print("the number 50 appears",n,"times in the tuple")

the number 50 appears 3 times in the tuple